<div class="form-row">
    <div class="form-item">
        <label>Title</label>
        <input type="text" name="title" value="<%= set.title %>">
    </div>
    <div class="form-item">
        <label>Artist</label>
        <select name="artist">
        <% artists.forEach(artist => { %>
            <% if(artist.id === set.artist) { %>
                <option selected label="<%= artist.name %>" value="<%= artist.id %>"></option>
            <% } else { %>
                <option label="<%= artist.name %>" value="<%= artist.id %>"></option>
            <% } %>
        <% }) %>
        </select>
    </div>
</div>

<div class="form-row">
    <div class="form-item">
        <label>Genre</label>
        <input type="text" name="genre" value="<%= set.genre %>">
    </div>
    <div class="form-item">
        <label>Link</label>
        <input type="text" name="link" value="<%= set.link %>">
    </div>
</div>
    
<div id="divid">
    <%# <label>Songs</label> %>
    <%# <input id="inputid" type="text" name="songs" value=" set.songs "> %>
    <%# <button type="button" id="addSong"> Add </button> %>

    <script type="text/javascript">
        var addSong = document.getElementById('addSong')
        var songList = document.getElementById('inputid')
        var count = 0;
        var newSongs = []

        console.log("this is our value" + songList.value)

        addSong.addEventListener("click", add)

        function add(){
            newSongs[count] = document.createElement("input");

            const currentDiv = document.getElementById("divid");
            currentDiv.appendChild(newSongs[count])

            console.log(newSongs[count].value)
            count++;
        }

    </script>

</div>