<h2> Sets </h2>
<form action="/sets" method="GET">
    <div>
        <label> Title </label>
        <input type="text" name="title" value="<%= searchOptions.title %>">
    </div>
    <div>
        <label> Genre </label>
        <input type="text" name="genre" value="<%= searchOptions.genre %>">
    </div>
    <div>
        <label> Posted Before </label>
        <input type="date" name="postedBefore" value="<%= searchOptions.postedBefore %>">
    </div>
    <div>
        <label> Posted After </label>
        <input type="date" name="postedAfter" value="<%= searchOptions.postedAfter %>">
    </div>
    <button type="submit"> Search </button>
</form>
<br>
<div>
    <% sets.forEach(set => { %>
        <div>
            <a href="/sets/<%= set.id %>"> <%= set.title %> </a>
            <a target="_blank" rel="noopener noreferrer" href=" <%= set.link %> "> Link </a>
        </div>    
    <% }) %>
</div>