<h2 class="page-header"> <%= set.title %> </h2>
<div><a target="_blank" rel="noopener noreferrer" href=" <%= set.link %> "> Link </a></div>
<div> Artist: <a href="/artists/<%= set.artist.id %>"> <%= set.artist.name %>  </a> </div>
<div> Genre: <%= set.genre %> </div>
<div> Date Posted: <%= set.createdDate.toDateString() %> </div>

<div class= "btn-row">
    <a class="btn btn-primary" href="/sets/<%= set.id %>/edit"> Edit </a>
    <%- include('../partials/deleteForm', { url: `/sets/${set.id}`}) %>
</div>




