<h2 class="page-header"><%= artist.name %></h2>

<div class="artist-profile-row">
    <div class="artist-profile-item artist-profile-item-no-grow">
        <img class="artist-pic" height="240" width="240" src="<%= artist.headshotPath %>">
    </div>
    <div class="artist-profile-item">
        <div class="artist-bio"> <%= artist.bio %> </div>
    </div>
</div>
<br>
<div class= "btn-row">
    <a class="btn btn-primary" href="/artists/<%= artist.id %>/edit"> Edit </a>
    <%- include('../partials/deleteForm', { url: `/artists/${artist.id}`}) %>
</div>  

<% if(setsByArtist.length > 0 ) { %>
    <h2> Sets By Artist </h2>

    <% setsByArtist.forEach(set => { %>
        <div>
            <a class="set-list" href="/sets/<%= set.id %>"> <%= set.title %> </a>
        </div>
    <% }) %>
<% } %>