<h2 class="page-header"><%= artist.name %></h2>
<img height="240" width="240" src="<%= artist.headshotPath %>">
<div> <%= artist.bio %> </div>
<br>
<div class= "btn-row">
    <a class="btn btn-primary" href="/artists/<%= artist.id %>/edit"> Edit </a>
    <%- include('../partials/deleteForm', { url: `/artists/${artist.id}`}) %>
</div>  

<% if(setsByArtist.length > 0 ) { %>
    <h2> Sets By Artist </h2>

    <% setsByArtist.forEach(set => { %>
        <div>
            <a href="/sets/<%= set.id %>"> <%= set.title %> </a>
            <a target="_blank" rel="noopener noreferrer" href=" <%= set.link %> "> Link </a>
        </div>
        
    <% }) %>
<% } %>